################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevEngine/.vs/DevEngine/v16
/DevEngine/DevEngine.Core/obj
/src/.vs/DevEngine
/src/DevEngine.Core/obj
/src/DevEngine/bin/Debug/netstandard2.1
/src/DevEngine/obj
/src/DevEngine.Core/bin/Debug/netstandard2.1
/src/DevEngine.Tests/bin/Debug/netcoreapp3.1
/src/DevEngine.Tests/obj
/src/DevEngine.RealTypes/bin/Debug/netstandard2.1
/src/DevEngine.RealTypes/obj
/src/DevEngine/bin/Debug/net5.0
/src/DevEngine.Core/bin/Debug/net5.0
/src/DevEngine.Graph/bin/Debug/net5.0
/src/DevEngine.Graph/obj
/src/DevEngine.RealTypes/bin/Debug/net5.0
/src/DevEngine.Tests/bin/Debug/net5.0
/src/DevEngine.Evaluator/bin/Debug/net5.0
/src/DevEngine.Evaluator/obj
/src/DevEngine.FakeTypes/bin/Debug
/src/DevEngine.FakeTypes/obj
/src/DevEngine.Standard/obj
/src/DevEngine.Evaluator.Core/bin/Debug/net5.0
/src/DevEngine.Evaluator.Core/obj
/src/DevEngine.Standard/bin/Debug/net5.0
