################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevEngine/.vs/DevEngine/v16
/DevEngine/DevEngine.Core/obj
/src/.vs/DevEngine
/src/DevEngine.Core/obj
/src/DevEngine/bin/Debug/netstandard2.1
/src/DevEngine/obj
/src/DevEngine.Core/bin/Debug/netstandard2.1
/src/DevEngine.Tests/bin/Debug/netcoreapp3.1
/src/DevEngine.Tests/obj
