
<div style="display: flex; flex-direction: column; width: 100%; height: 100%">

	<div style="width: 100%">
		<Button Clicked="OnClearClicked">Clear</Button>
	</div>

	<div style="width: 100%; overflow-y: hidden; display: flex; flex-direction: column; margin-left: 20px">

		@foreach( var line in Lines)
		{
			<div>
				<span style="margin-right: 10px">></span>
				<span>@line</span>
			</div>
		}

	</div>

</div>


