
<div class="devGraph" ondragover="allowDrop(event)" @onmousemove="OnMouseMove">

    <svg class="devSvg">
        @foreach (var node in DevGraphDefinition.Nodes)
        {
            @foreach (var output in node.Outputs)
            {
                var position1 = GetParameterAbsolutePosition(output);
                if (position1 == null)
                    continue;

                @foreach (var input in output.Connections)
                {
                    var position2 = GetParameterAbsolutePosition(input);
                    if (position2 == null)
                        continue;

                    <path stroke="#8e8e8e" stroke-width="2" fill="none" d="@GetSvgPath(position2.Value, position1.Value)"></path>
                }
            }
        }
    </svg>

    @foreach (var node in DevGraphDefinition.Nodes)
    {
        <GraphNode DevGraphDefinition="DevGraphDefinition" DevGraphNode="node" GraphArea="this"></GraphNode>
    }


</div>

