@if (GraphNodeSavedContent != null)
{
    <div class="devNode" draggable="true" style="left: @(GraphNodeSavedContent.Location.X)px; top: @(GraphNodeSavedContent.Location.Y)px" @ondragend="OnDragEnd" @ondragstart="OnDragStart" @ondrag="OnDrag">

        @*Name*@
        <div class="devTitle">
            @DevGraphNode.Name
        </div>

        <div class="devNodeBody">

            <div class="devNodeInputs">

                @foreach (var input in DevGraphNode.Inputs)
                {
                    <GraphNodeParameter DevGraphNodeParameter="input"></GraphNodeParameter>
                }

            </div>


            <div class="devNodeOutputs">

                @foreach (var output in DevGraphNode.Outputs)
                {
                    <GraphNodeParameter DevGraphNodeParameter="output"></GraphNodeParameter>
                }

            </div>

        </div>

    </div>
}