
<div class="devNodeParameter" @onmousedown="OnMouseDown">
    @if (DevGraphNodeParameter.IsOutput)
    {
        <div>@DevGraphNodeParameter.Name</div>
    }

    <div class="devParameterNode">
    </div>

    @if (DevGraphNodeParameter.IsInput)
    {
        <div>@DevGraphNodeParameter.Name</div>
    }
</div>

