<div class="searchContextualPopup">

	<TextEdit TextChanged="OnSearchTextChanged" ChangeTextOnKeyPress="true" @onclick:stopPropagation Style="width:160px"></TextEdit>

	<div class="searchResults">
		<Dropdown Visible="true">
			<DropdownMenu>
				@foreach (var result in Results)
				{
					<DropdownItem Clicked="() => OnSearchResultClicked(result)">@result.DisplayName</DropdownItem>
				}
			</DropdownMenu>
		</Dropdown>

	</div>

</div>

